@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.input {
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
  border: 1px solid #f82d2d;
  font-size: 16px;
  height: 20px;
  width: 100%; /* Para preencher o espaço uniformemente */
}

