#navbar {
  width: 100%;
  background-color: #333;
  color: #ffcc00;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
}

#navbar h2 a {
  color: #ffcc00;
  text-decoration: none;
  font-size: 25px;
}

#navbar h2 a:hover {
  text-decoration: underline;
}

#navbar form {
  display: flex;
  align-items: center;
}

#navbar input {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 1px; 
  width: 200px;
}

#navbar button {
  background-color: #ffcc00;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

#navbar button:hover {
  background-color: #e6b800;
}

#navbar .favoritos-button {
  margin-right: 10px;  
}

body {
  padding-top: 60px;
}
